@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


:root {
  --background: #9AF8A9;
  --foreground: #205012;
  --foreground-dark: #15340b;
  --gradient: linear-gradient(180deg, rgba(154,248,169,1) 0%, rgba(201,255,114,1) 100%, rgba(255,255,255,1) 100%);
}

@font-face {
  font-family: 'Antique Olive';
  src: url('/fonts/Antique_Olive_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.antique-olive {
  font-family: "Antique Olive", "Trebuchet MS", "Segoe UI Bold", "Franklin Gothic", "Arial Bold", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radio-canada-big {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radio-canada-big-bold {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9AF8A9;
    --foreground: #205012;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  will-change: transform;
  backface-visibility: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Radio Canada Big", sans-serif;
}

